body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

#emoticons {
  margin: 3em 0 2em;
  text-align: left;
  a {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    text-decoration: none;
    img {
      border: none;
    }
    &:hover {
      transform: translate(0, -5px);
      -moz-transform: translate(0, -5px);
      -webkit-transform: translate(0, -5px);
    }
  }
}

.shortcut {
  color: transparent;
  font-size: 8px;
}

#emoticons:hover .shortcut {
  color: #CCC;
}

#emoticons a:hover .shortcut {
  color: #333;
}

footer {
  p {
    display: inline;
    margin-left: 0.5em;
  }
}
