$blue: rgb(0, 182, 253);

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  text-align: center;
}

h1,
h2,
strong {
  font-weight: 500;
}

h1 {
  font-size: 35px;
}

a, a:visited {
  color: $blue;
}

.filter-form {
  margin: 30px 0;
}

.emoticons {
  margin: 50px 0 30px;
}

a.emoticon {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  padding: 8px;
  text-decoration: none;
  img {
    border: none;
  }
}

.emoticon {
  &:hover {
    transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
  }
}

.emoticon {
  &.filtered-out {
    opacity: 0.07;
  }
}

.shortcut {
  font-size: 9px;
  color: #BBB;
  font-weight: 400;
}

.shortcut {
  visibility: hidden;
}

.emoticons:hover .shortcut,
.emoticons.filtering .shortcut {
  visibility: visible;
}

.emoticons a:hover .shortcut {
  color: #333;
}

footer {
  p {
    display: inline;
    margin-left: 4px;
    &:first-child { margin-left: 0; }
  }
}
