%a.emoticon{ :href => "##{e.shortcut}", :"data-shortcut" => e.shortcut }

  %img{ :alt => e.shortcut,
    :title => e.shortcut,
    :src => e.url,
    :style => "width:#{e.width}px; height:#{e.height}px" }

  .shortcut= h e.shortcut
