!!!
%html
  %head
    %meta(charset="utf-8")
    %title HipChat emoticons
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>
    %link(href="/stylesheets/screen.css" rel="stylesheet" type="text/css")
    %link(rel="shortcut icon" href="/favicon.png")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script(src="/javascript/jquery.zclip.js")
    %script(src="/javascript/script.js")

  %body

    %header
      %h1 HipChat emoticons
      %p
        A complete list of
        <strong>#{@emoticons.length}</strong>
        <a href="http://www.hipchat.com/r/2zt39">HipChat</a> emoticons.
        Click to copy.

    %p
      Order:
      - case params[:order]
      - when EmoticonFile::BY_RECENT
        <a href="/">Alphabetical</a> &bull; <strong>Recently added or updated</strong>
      - else
        <strong>Alphabetical</strong> &bull; <a href="/?order=recent">Recently added or updated</a>

    %p#copyResult

    .emoticons
      - @emoticons.each do |e|
        = partial :emoticon, :e => e

    %h2 Emoticons emeriti

    %p These emoticons were removed by HipChat, but you can <a href="https://hipchat.com/admin/emoticons">upload them as custom emoticons</a>.

    .emoticons
      - @emeriti.each do |e|
        = partial :emoticon, :e => e

    %footer
      %p
        Last updated #{@updated_at.strftime("%b %e, %Y")}.
      %p
        By <a href="http://henrik.nyh.se">Henrik Nyh</a>.
      %p
        <a href="https://github.com/henrik/hipchat-emoticons">View source on GitHub</a>.
