$blue: rgb(0, 182, 253);

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  text-align: center;
}

h1,
h2,
strong {
  font-weight: 500;
}

h1 {
  font-size: 35px;
}

a, a:visited {
  color: $blue;
}

.filter-form {
  margin: 30px 0;
}

.emoticons {
  margin: 50px 0 30px;
  &.enabled {
    text-align: justify;
  }
}

a.emoticon {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  img {
    border: none;
  }
}

.emoticon {
  // Can't use :hover because of ZeroClipboard.
  &.hover {
    transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
  }

  &.filtered-out {
    opacity: 0.07;
  }

  .shortcut {
    font-size: 9px;
    color: #999;
    font-weight: 400;
  }
}

.notification {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

footer {
  .footer-part {
    margin-left: 4px;
    &:first-child { margin-left: 0; }
  }
}
